<?xml version="1.0"?>
<launch>
    <arg name="name" default="tello" />
    <group ns="$(arg name)">
        <node pkg="tello_driver" name="tello" type="ros_tello.py" output="screen"/>
    	<!-- <node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=image_raw compressed out:=image_raw" /> -->
        <node pkg="image_transport" name="image_decompressed" type="republish" args="compressed in:=image_raw raw out:=image_raw">
            <param name="image_transport" value="h264"/>
        </node>
        <node pkg="rviz" name="rviz" type="rviz" args="-d $(find tello_driver)/config/tello_orb.rviz"/>
        <node name="orb_slam2_mono" pkg="orb_slam2_ros"
            type="orb_slam2_ros_mono" output="screen">
            <remap from="/camera/image_raw" to="/tello/image_raw" />
            <param name="voc_file" type="string" value="$(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt" />
            <param name="publish_pointcloud" type="bool" value="true" />
            <param name="publish_pose" type="bool" value="true" />
            <param name="localize_only" type="bool" value="false" />
            <param name="reset_map" type="bool" value="false" />
            <param name="pointcloud_frame_id" type="string" value="map" />
            <param name="camera_frame_id" type="string" value="camera_link" />
            <param name="min_num_kf_in_map" type="int" value="5" />
            <!-- ORB parameters -->
            <param name="/ORBextractor/nFeatures" type="int" value="2000" />
            <param name="/ORBextractor/scaleFactor" type="double" value="1.2" />
            <param name="/ORBextractor/nLevels" type="int" value="8" />
            <param name="/ORBextractor/iniThFAST" type="int" value="20" />
            <param name="/ORBextractor/minThFAST" type="int" value="7" />

            <!-- Camera parameters -->
            <!-- Camera frames per second -->
            <param name="camera_fps" type="int" value="30" />
            <!-- Color order of the images (0: BGR, 1: RGB. It is ignored if images are grayscale) -->
            <param name="camera_rgb_encoding" type="bool" value="true" />

            <!-- Camera calibration parameters -->
            <!--If the node should wait for a camera_info topic to take the camera calibration data-->
            <param name="load_calibration_from_cam" type="bool" value="false" />
            <!-- Camera calibration and distortion parameters (OpenCV) -->
            <param name="camera_fx" type="double" value="615.6707153320312" />
            <param name="camera_fy" type="double" value="615.962158203125" />
            <param name="camera_cx" type="double" value="328.0010681152344" />
            <param name="camera_cy" type="double" value="241.31031799316406" />
            <!-- Camera calibration and distortion parameters (OpenCV) -->
            <param name="camera_k1" type="double" value="0.0" />
            <param name="camera_k2" type="double" value="0.0" />
            <param name="camera_p1" type="double" value="0.0" />
            <param name="camera_p2" type="double" value="0.0" />
            <param name="camera_k3" type="double" value="0.0" />
        </node>

	<node pkg="tello_driver" type="path.py" name="path"/>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<remap from="cloud_in" to="/tello/orb_slam2_mono/map_points" />
        </node>
    </group>
</launch>
